<form #loginForm="ngForm">
  <h2>Log In</h2>
  <mat-form-field class="modal-auth-form">
    <input
      class="modal-auth-email-input"
      matInput
      placeholder="Email"
      [(ngModel)]="username"
      name="username"
      #emailInput
      required
    />
    <mat-error> Please provide a valid email address</mat-error>
  </mat-form-field>
  <mat-form-field class="modal-auth-form">
    <input
      class="modal-auth-password-input"
      matInput
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      #passwordInput
      name="password"
      required
    />
    <mat-error> Please provide a valid password</mat-error>
  </mat-form-field>
  <div class="modal-auth-buttons">
    <button
      class="login-button"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.form.valid"
      (click)="login()"
    >
      Login
    </button>
    <button
      class="register-button"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.form.valid"
      (click)="signUp()"
    >
      Register
    </button>
  </div>
</form>
