<div class="detail-loader" *ngIf="isLoading$ | async; else filmDetailsBlock">
  <mat-spinner></mat-spinner>
</div>
<ng-template #filmDetailsBlock>
  <div class="details-container">
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-page-title detail-page-field-name">Title</td>
          <td class="detail-page-title-input">{{ filmDetails.title }}</td>
        </tr>
        <tr>
          <td class="detail-page-director detail-page-field-name">Director</td>
          <td class="detail-page-title-input">{{ filmDetails.director }}</td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Producer</td>
          <td class="detail-page-title-input">{{ filmDetails.producer }}</td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">
            Date of production
          </td>
          <td class="detail-page-title-input">
            {{ filmDetails.created | date }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">
            Date of release
          </td>
          <td class="detail-page-title-input">
            {{ filmDetails.releaseDate | date }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Characters</td>
          <td class="detail-page-title-input">
            {{ filmDetails.characters.join(", ") }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Planets</td>
          <td class="detail-page-title-input">
            {{ filmDetails.planets.join(", ") }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Species</td>
          <td class="detail-page-title-input">
            {{ filmDetails.species.join(", ") }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Starships</td>
          <td class="detail-page-title-input">
            {{ filmDetails.starships.join(", ") }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">Vehicles</td>
          <td class="detail-page-title-input">
            {{ filmDetails.vehicles.join(", ") }}
          </td>
        </tr>
        <tr>
          <td class="detail-page-title detail-page-field-name">
            Opening crawl
          </td>
          <td class="detail-page-title-input">
            {{ filmDetails.openingCrawl }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="detail-page-buttons">
      <button mat-stroked-button>Edit</button>
      <button mat-stroked-button color="warn">Delete</button>
    </div>
  </div>
</ng-template>
