<div class="modal" id="modal-auth">
  <div class="modal-content">
    <form class="col s12 auth-form" method="post">
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>
      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='email' name='email' id='email'/>
          <label for='email'>Enter your email</label>
        </div>
      </div>
      <div class="row">
        <div class='input-field col s12'>
          <input class='validate' type='password' name='password' id='password'/>
          <label for='password'>Enter your password</label>
        </div>
      </div>
      <br/>
      <div class='row'>
        <div class='col s10'></div>
        <button type='submit' name='btn_login' class='col s2 btn btn-large waves-effect blue-grey lighten-1'>Login
        </button>
      </div>
    </form>
  </div>
</div>
