<div class="container mat-elevation-z8">
  <div class="film-table-container">
    <mat-form-field appearance="standard">
      <input matInput placeholder="Search films" #input />
    </mat-form-field>
    <!-- Loader -->
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <!-- Table -->
    <table
      class="film-table"
      mat-table
      [dataSource]="(films$ | async)!"
      matSort
      matSortActive="title"
      matSortDisableClear
      matSortDirection="asc"
    >
      <caption>
        StarWars films
      </caption>
      <mat-text-column name="title" [headerText]="'Title'"> </mat-text-column>

      <!-- Director Column -->
      <mat-text-column name="director" [headerText]="'Director'">
      </mat-text-column>

      <!-- Producer Column -->
      <mat-text-column name="producer" [headerText]="'Producer'">
      </mat-text-column>

      <!-- Created Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.created | dateFormatter }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        [id]="row.id"
        *matRowDef="let row; columns: displayedColumns"
        (click)="goToDetailPage(row.id)"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [length]="resultsLength"
    [pageSize]="pageSize"
    aria-label="Select page of StarWars films results."
  ></mat-paginator>
</div>
