.film-table {
  width: 100%;
}

.mat-form-field {
  font-size: 1rem;
  width: 100%;
}

.film-table-container {
  position: relative;
}

.films-loading {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
