<mat-toolbar class="toolbar">
  <button mat-icon-button class="menu-icon" type="button">
    <mat-icon>menu</mat-icon>
  </button>
  <div *ngIf="isAuth; else notAuthed" class="auth-buttons">
    <button
      (click)="logout()"
      mat-icon-button
      class="logout-icon"
      type="button"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <ng-template #notAuthed>
    <div class="auth-buttons">
      <button mat-icon-button type="button" (click)="openAuthDialog()">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button type="button">
        <mat-icon>app_registration</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-toolbar>
